.footer {
    color: white;
    padding-bottom: 10 px;
    background-color: #393939;
}
.footer__top__icon {
    -o-object-fit: scale-down;
    object-fit: scale-down;
    width: 30 px;
    height: 15 px;
    padding-right: 8 px;
    filter: saturate(0) grayscale(1) invert(1);
    color:white;
}
.price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200 px;
    background-size: cover;
    color: #d55c65;
    background-color: #d55c65;
    background-position: bottom;
}
.status__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f646a;
}